<!DOCTYPE html>
<html>
    {%load static%}
  <head>
    <link rel="stylesheet" href="{% static 'style.css'%}">
  </head>
  <body>
    <center>
      <div class="form" >
        <form action="{% url 'classiffier'%}" method="POST">
          {% csrf_token %}
          <h2>Classiffication Form</h2><br />
          <div class="input">
            <input required class="input-field" type="text" name="sepal_length" />
            <label for="email">Enter Flower's sepal length</label>
          </div>
          <div class="input">
            <input required class="input-field" type="text" name="sepal_width" />
            <label for="password">Enter Flower's sepal width</label>
          </div>
          <div class="input">
            <input required class="input-field" type="text" name="petal_length" />
            <label for="email">Enter Flower's petal length</label>
          </div>
          <div class="input">
            <input required class="input-field" type="text" name="petal_width" />
            <label for="password">Enter Flower's petal width</label>
          </div>
          <br />
          <div class="submit">
            <input type="submit" value="Submit" />
          </div>
          <br />
        </form>
      </div>
      {{sepal}}
    </center>
    <br /><br /><br />
    <br /><br /><br />
  </body>
</html>
